<!--Habilidades en porcentajes-->
<div class="container-fluid titulo">
  <h4> Habilidades</h4>
  </div>
  <div class="container-fluid cajon" *ngFor="let habilidad of misHabilidades">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h6>{{ habilidad.name }}</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" [style.width]="habilidad.value+'%'" style="width: 75%;" [attr.aria-valuenow]="habilidad.value" aria-valuemin="0" aria-valuemax="100">{{ habilidad.percentage}}</div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  </div>
